body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #165dd7;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;

}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;


}

.blog-entry {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    width: 48%;
    box-sizing: border-box;
    text-align: center;
}

.blog-entry img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blog-entry h2 {
    font-size: 2em; /* Increase the size of h2 */
}

.dialogue p {
    text-align: left;
    line-height: 1.6;
    font-size: 1.2em; /* Increase the size of p */

}
.dialogue ul {
    text-align: left;
    line-height: 1.6;
    font-size: 1.2em; /* Increase the size of p */
    list-style-type: disc;
    padding-left: 20px; /* Indent the list items */


}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    bottom: 0;

}
